<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tubes_angkringan"
        tools:targetApi="31">
        <activity
            android:name=".TampilanUtama"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".User.TampilanPelanggan"></activity>
        <activity android:name=".User.DaftarMenuPelanggan"></activity>
        <activity android:name=".Admin.PageLoginAdmin"></activity>
        <activity android:name=".Admin.PageListMenuJualanAdmin"></activity>
        <activity android:name=".Admin.PageListMenuPelangganAdmin"></activity>
        <activity android:name=".Admin.PageTambahMenuMakananAdmin"></activity>
        <activity android:name=".Admin.PageTambahMenuMinumanAdmin"></activity>
        <activity android:name=".Admin.PageTambahMenuCemilanAdmin"></activity>
        <activity android:name=".Admin.ListMenuMakanAdmin"></activity>
        <activity android:name=".Admin.ListMenuMinumanAdmin"></activity>
        <activity android:name=".Admin.ListMenuCemilanAdmin"></activity>
        <activity android:name=".Admin.PageEditMenuMakananAdmin"></activity>
        <activity android:name=".Admin.PageEditMenuMinumanAdmin"></activity>
        <activity android:name=".Admin.PageEditMenuCemilanAdmin"></activity>
        <activity android:name=".Admin.PageDeleteMakananAdmin"></activity>
        <activity android:name=".Admin.PageAdmin"></activity>
        <activity android:name=".PageKeranjang"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />


    </application>

</manifest>